In [ ]:
from datascience import *
import numpy as np
%matplotlib inline

<h3> NBA Salaries </h3>

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
# Finding the highest average salary

# First read out the names of the positions
positions = nba.column('position')
print(len(positions))

# Since there are 528 positions, get the unique ones:
positions = np.unique(positions)
print(positions)

# Now select the players with position 'C':
c = nba.where('position', 'C')
c_salaries = c.column('salary')
print('Average salary for C: ' + str(np.average(c_salaries)))

# Now print a linebreak and then use a FOR LOOP to 
# iterate over the position names; we'll learn about
# this construction soon! I'll also use an f-string 
# to format the output really nicely along with a
# .2f to only print to two decimal places.
print('')

for p in positions:
    position_salaries = nba.where('position', p).column('salary')
    print(f'Position {p} has average salary {np.average(position_salaries):.2f}')

In [ ]:
# Write a table call here to find the lowest-paid plays on the Denver Nuggets.
# You may want to use Table.take() and np.arange() at various points!
lowest_paid = ...

<h3> Reading the census data </h3>

In [ ]:
data = 'http://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.csv'
full_census_table = Table.read_table(data)

female = ...
female.sort(...)

male = ...
male.sort(...)

In [ ]:
# Now let's plot this to see how the populations change over time!
female.where('AGE').plot('AGE', 'CENSUS2010POP')

In [ ]:
# Building our first visualization!

# Start by building a table that has all the relevant data:
pop_by_sex = Table().with_columns(
    'AGE', female.column('AGE'),
    'FEMALE POPULATION', female.column('CENSUS2010POP'),
    'MALE POPULATION', male.column('CENSUS2010POP')
)

In [ ]:
# Exploring sex ratios

# Start by building a table that has all the relevant data:
pop_by_sex_with_ratio = Table().with_columns(
    'AGE', female.column('AGE'),
    'FEMALE POPULATION', female.column('CENSUS2010POP'),
    'MALE POPULATION', male.column('CENSUS2010POP'),
    'RATIO', female.column('CENSUS2010POP') / male.column('CENSUS2010POP')
)