# Groups, joins, and pivots #

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Classifying movies ##

In [ ]:
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:
top_movies.group('Studio')

In [ ]:
# The following code finds the gross revenue in total
# over all movies released by a studio. Unpack this code 
# and understand it before moving on to the next part!

top_movies.select('Studio', 'Gross').group('Studio', collect=sum)

In [ ]:
# Exercise: 
# 1) Group the movies by year released.
# 2) Make a scatter plot of the counts by year. 
#    What trends do you notice?
# 3) Make a scatter plot of the counts but only for movies
#    released after 1990. What trends do you notice?

In [ ]:
# More challenging: We're going to make a scatter chart 
# of the adjusted gross for the TOP movie released in each year.

# Make a table which ONLY has columns for year and adjusted gross.
small_table = ...

# Make a table which groups things by year and uses COLLECT
# to find the highest grossing movie that year.
highest_grossing_by_year = ...

# Make a scatter plot!

## Returning to the NBA data ##

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba.where('season', 2000).select('team', 'salary').group('team', sum)

# Exercise: For the 2000 season, use the group function to 
# find the total salary paid by each team. Repeat this for
# the 2020 season.
salary_by_team_2000 = ...
salary_by_team_2020 = ...

# Join these two
#compared_salaries = salary_by_team_2000.join('team',          salary_by_team_2020,     'team')
#                    Match rows in here    using this col     with rows here    using this col 

# Add a column where we look at the ratio
#compared_salaries = compared_salaries.with_column(
#    'Ratio', compared_salaries.column('salary sum_2') / compared_salaries.column('salary sum'))

# Drop everything but the ratio and sort the table by the ratio. 
# Which team had the highest increase in salaries? The lowest?
sorted_by_ratio = ...

## Cross-Classifying

In [ ]:
# Load ice cream data
cones = Table.read_table('cones.csv')
cones

In [ ]:
# Group the cones by flavor, color, and both:
cones.group('Flavor').show()
cones.group('Color').show()

# Try to run this line and it goes wrong!
# cones.group('Flavor', 'Color').show()

# Use this one instead:
cones.group(['Flavor', 'Color']).show()
cones.group(['Color', 'Flavor']).show()

In [ ]:
# We can use a pivot table to organize this data differently
# by listing all possible combinations:
cones.pivot('Flavor', 'Color')

In [ ]:
# Suppose we want to look at price differences between the
# categories instead. We can use VALUES and COLLECT to do this!
# Note: you can use BOTH or NEITHER of these. Not just one!

# This table collects the cheapest option in each category.
cones.pivot('Flavor', 'Color', values='Price', collect = min).show()

In [ ]:
# Exercise: Write a function price_spread which takes in an 
# array and returns the difference between the maximum and 
# minimum in the array.
def price_spread(arr):
    ...

# Make a pivot table that has the spread of prices for each option:
# cones.pivot('Flavor', 'Color', values='Price', collect = price_spread)